<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
 </head>
 <body>
    <form method="POST" action="/checkout">
        <input type="text" name="item" id="item">
        <button type="button" id="submit">submit</button>
    </form>
 </body>
</html>